<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Current Top 10 in Goals</title>
    </head>
    <body>
        <h1>Leaders</h1>
            <a href="/leaders" class="button">Get Data</a>
            <style>
                .button {
                    display: inline-block;
                    padding: 10px 20px;
                    margin: 10px 0;
                    background: #007BFF;
                    color: white;
                    text-align: center;
                    border-radius: 5px;
                    text-decoration: none;
                }
                .button:hover {
                    background-color: #0056b3;
                }
            </style>
    </body>
</html>