<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Current Leaders in Goals</title>
    </head>
    <body>
        <h1>Leaders</h1>
            <button id="fetchData">Get Data</button>
            <pre id="dataDisplay"></pre>

            <script>
                document.getElementById('fetchData').addEventListener('click', function() {
                    fetch('/fetch_nhl_leaders')
                        .then(resposne => response.json())
                        .then(data => {
                            document.getElementById('dataDisplay').textContent = JSON.stringify(data, null, 2);
                        })
                        .catch(error => console.error('Error fetching data: ', error));
                });
            </script>
    </body>
</html>